<div class="row">
  <div class="col mx-5">

    <h1 class="display-4">Summary</h1>
    <p class="lead mysf">What has been done here</p>

    <ul class="lead"><br/>
      <li>Entities Articles, Comments, Users, and pages for them and tables in the database are created</li><br/>
      <li>Static pages About, Terms art created</li><br/>
      <li>The database has been transferred from SQlite to Postgresql</li><br/>
      <li>Created the relationship of Articles and Comments, now each comment is tied to its article</li><br/>
      <li>Created user session support, Sign up, Sing in</li><br/>
      <li>Authorized users can leave comments, write articles, as well as edit and delete them. Unauthorized users can only read articles</li><br/>
      <li>Format for displaying date and time from the database is changed</li><br/>
      <li>Display of the text of the article, reduced to 400 characters when previewing on the page with all articles</li>
    </ul>

  </div>
</div>
