<div class="row mx-auto">
  <div class="col">

    <h1 class="display-4">Vadim Dimnich</h1>
    <span class="lead mysf">Ruby on rails developer: Ruby, RoR, VanillaJS</span>
    
    <div class="row">
      <div class="col pt-5">

        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>
                <%= image_tag "gmail_mark_32px.png", size: "32x32" %>
                <span class="lead mysf pl-3">email</span>
              </th>
              <td><%= link_to 'v.dimnich@gmail.com', 'mailto:v.dimnich@gmail.com', class: "lead mysf zx" %></td>
            </tr>
            <tr>
              <th>
                <%= image_tag "GitHub-Mark-32px.png", size: "32x32" %>
                <span class="lead mysf pl-3">github</span>
              </th>
              <td><%= link_to 'github.com/kunjut', 'https://github.com/kunjut', class: "lead mysf zx" %></td>
            </tr>
          </tbody>
        </table>

      </div><!--/.col-->
    </div><!--/.row-->

    <span class="lead mysf">Currently I'm available for hire.</span>

  </div><!--/.col-->
</div><!--/.row-->